<nav class="w-full border-gray-200 bg-gray-50">
    <div class="flex flex-col sm:flex-row items-center justify-between mx-auto p-4">
        <div class="w-full flex items-center md:w-auto">
            <img alt="logo" class="w-20 mr-5" src="https://svgshare.com/i/10Hn.svg">
            <ul class="flex font-medium mt-4 md:space-x-8 md:mt-0 md:border-0">
                <li>
                    <a aria-current="page"
                       th:class="${#httpServletRequest.requestURI == '/home'} ? 'block p-2 text-blue-700 md:p-0' : 'block p-2 text-gray-900 hover:text-blue-700 md:p-0'"
                       th:href="@{'/home'}">
                        Home
                    </a>
                </li>
                <li th:if="${usuario.getRol() == 'Cliente'}">
                    <a th:class="${#httpServletRequest.requestURI == '/mapa'} ? 'block p-2 text-blue-700 md:p-0' : 'block p-2 text-gray-900 hover:text-blue-700 md:p-0'"
                       th:href="@{'/mapa'}">
                        Mapa
                    </a>
                </li>
                <li th:if="${usuario.getRol() == 'Propietario'}">
                    <a th:class="${#httpServletRequest.requestURI == '/registrar-bicicleta'} ? 'block p-2 text-blue-700 md:p-0' : 'block p-2 text-gray-900 hover:text-blue-700 md:p-0'"
                       th:href="@{'/registrar-bicicleta'}">
                        Registrar bicicleta
                    </a>
                </li>
                <li th:if="${usuario.getRol() == 'Propietario'}">
                    <a th:class="${#httpServletRequest.requestURI == '/mis-bicicletas'} ? 'block p-2 text-blue-700 md:p-0' : 'block p-2 text-gray-900 hover:text-blue-700 md:p-0'"
                       th:href="@{'/mis-bicicletas'}">
                        Mis bicicletas
                    </a>
                </li>
                <li th:if="${usuario.getRol() == 'Cliente'}">
                    <a th:class="${#httpServletRequest.requestURI == '/mis-alquileres'} ? 'block p-2 text-blue-700 md:p-0' : 'block p-2 text-gray-900 hover:text-blue-700 md:p-0'"
                       th:href="@{'/mis-alquileres'}">
                        Mis alquileres
                    </a>
                </li>
            </ul>
        </div>
        <form action="#" method="POST" th:action="@{/cerrar-sesion}">
            <button class="block p-2 text-gray-900 hover:text-blue-700 md:p-0" type="submit">
                Cerrar sesión
            </button>
        </form>
    </div>
</nav>