<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Bicicletas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="bg-[url('https://wallpapers.com/images/hd/red-fixie-bike-photography-vefktg61dhju37ur.jpg')] opacity-90 bg-no-repeat bg-cover bg-center min-h-screen flex flex-col justify-center items-center">
    <div class="absolute w-[90%] min-h-[90%] pt-3 flex flex-col items-center bg-slate-50 rounded">
        <div th:replace="~{partials/nav :: nav}"></div>
        <h1 class="text-4xl font-bold text-center text-gray-900 mb-3">Bicicletas disponibles</h1>
        <div th:if="${#lists.isEmpty(bicicletas)}">
            <p class="mt-16 font-medium text-gray-900 text-center text-lg">No hay bicicletas</p>
        </div>
        <div th:replace="~{components/listaBicicletas}"></div>
    </div>
</main>
</body>
</html>