<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Mantenimiento</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<main class="bg-[url('https://wallpapers.com/images/hd/red-fixie-bike-photography-vefktg61dhju37ur.jpg')] opacity-90 bg-no-repeat bg-cover bg-center min-h-screen flex flex-col justify-center items-center">
    <div class="absolute w-[90%] min-h-[90%] pt-3 flex flex-col items-center bg-slate-50 rounded">
        <div th:replace="~{partials/nav}"></div>
        <div class="my-5 sm:my-0 sm:h-full sm:flex sm:flex-col sm:items-center sm:justify-center">
            <p class="my-5 sm:my-10 text-3xl font-bold text-gray-900">Mantenimiento</p>
            <form action="#" class="w-full" method="POST" th:action="@{update}" th:object="${bicicletaStatus}">

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel1X">Wheel 1 Axys X</label>
                    <input id="wheel1X" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel1Y">Wheel 1 Axys Y</label>
                    <input id="wheel1Y" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel1Z">Wheel 1 Axys Z</label>
                    <input id="wheel1Z" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel2X">Wheel 2 Axys X</label>
                    <input id="wheel2X" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel2Y">Wheel 2 Axys Y</label>
                    <input id="wheel2Y" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel1Break">Wheel 1 Break</label>
                    <input id="wheel1Break" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheel2Break">Wheel 2 Break</label>
                    <input id="wheel2Break" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheelHandRot">Handler Rotation</label>
                    <input id="wheelHandRot" name="wheel1X" type="text"><br><br>
                </div>

                <div class="w-80 sm:w-96 mx-auto mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                           for="wheelHandHard">Handler Hardness</label>
                    <input id="wheelHandHard" name="wheel1X" type="text"><br><br>
                </div>

                <div class="text-center">
                    <button class="w-72 sm:w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm my-2 mb-2 px-5 py-2.5 text-center"
                            type="submit">
                        Registrar
                    </button>
                </div>

            </form>

        </div>
    </div>
</main>


</body>
</html>