<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link crossorigin="" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" rel="stylesheet"/>
    <script crossorigin=""
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
<div class="flex">
    <div class="w-3/4 h-[90vh]" id="map"></div>
    <div class="w-1/4 h-[90vh] max-h-[90vh] overflow-y-auto flex flex-col items-center justify-center bg-white py-3 border-2 rounded-sm">
        <div class="m-6">
            <span class="text-center text-4xl text-blue-700 font-bold py-2">Detalles del alquiler</span>
        </div>
        <div class="m-6">
            <p class="font-medium text-gray-900 text-4xl" th:text="${alquiler.cantidadHoras} + ' hs'"></p>
        </div>
        <div class="m-6">
            <p class="font-medium text-gray-900 text-4xl" th:text="'$' + ${alquiler.precioAlquiler}"></p>
        </div>
        <div class="m-6 text-center">
            <span class="text-center text-4xl text-blue-700 font-bold py-2">Tiempo restante</span>
        </div>
        <div class="m-6">
            <p class="font-medium text-gray-900 text-4xl" id="cuentaRegresiva"></p>
        </div>
        <div class="m-6 p-6">
            <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-8 py-4 focus:outline-none"
               th:href="@{/alquiler/{idAlquiler}/finalizar-alquiler(idAlquiler=${alquiler.id})}">
                Finalizar alquiler
            </a>
        </div>
    </div>
</div>
<div th:replace="~{components/footer}"></div>
<script th:inline="javascript">
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: [[${latitudActual}]], lng: [[${longitudActual}]]},
            zoom: 16,
            disableDefaultUI: true
        });
    }

    window.initMap = initMap;

    let tiempoRestante = [[${tiempoRestante}]];
    let horasMaximas = [[${alquiler.cantidadHoras}]];

    actualizarCuentaRegresiva();

    setInterval(actualizarCuentaRegresiva, 1000);

    function actualizarCuentaRegresiva() {
        let tiempoDiferencia = (horasMaximas * 3600) - tiempoRestante;

        if (tiempoDiferencia === 0) {
            window.location.href = "/alquiler/" + [[${alquiler.id}]] + "/finalizar-alquiler";
        }

        if (tiempoDiferencia < 3600) {
            tiempoDiferencia = Math.max(0, tiempoDiferencia);
        }

        let horas = Math.floor(tiempoDiferencia / 3600);
        let minutos = Math.floor((tiempoDiferencia % 3600) / 60);
        let segundos = Math.floor(tiempoDiferencia % 60);

        let horasFormateadas = horas.toString().padStart(2, '0');
        let minutosFormateados = minutos.toString().padStart(2, '0');
        let segundosFormateados = segundos.toString().padStart(2, '0');

        document.getElementById("cuentaRegresiva").innerText = `${horasFormateadas}:${minutosFormateados}:${segundosFormateados}`;

        tiempoRestante++;
    }
</script>
<script
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmBjxcRAeaXJMcpuavdRihYDOAQCp0y7w&callback=initMap&v=weekly"
></script>
</body>
</html>