<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mis alquileres</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="bg-[url('https://wallpapers.com/images/hd/red-fixie-bike-photography-vefktg61dhju37ur.jpg')] opacity-90 bg-no-repeat bg-cover bg-center min-h-screen flex flex-col justify-center items-center">
    <div class="absolute w-[90%] min-h-[90%] p-2 sm:p-4 flex flex-col items-center bg-slate-50 rounded">
        <div th:replace="~{partials/nav}"></div>
        <div class="w-full my-5 sm:my-0 sm:h-full sm:flex sm:flex-col sm:items-center sm:justify-center">
            <p class="my-5 sm:my-10 text-3xl font-bold text-gray-900 text-center">Alquileres</p>
            <div class="flex flex-wrap justify-center">
                <div th:if="${#lists.isEmpty(datosAlquiler)}">
                    <p class="font-medium text-gray-900 text-center text-lg">No tenés alquileres registrados</p>
                </div>

                <p class="font-medium text-gray-900 text-center text-lg">HAY ALQUILERES</p>

            </div>
        </div>
    </div>
</main>
</body>
</html>