<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="bg-[url('https://wallpapers.com/images/hd/red-fixie-bike-photography-vefktg61dhju37ur.jpg')] opacity-90 bg-no-repeat bg-cover bg-center h-screen flex flex-col justify-center items-center">
    <div class="w-[360px] xl:w-[480px] py-5 sm:py-10 flex flex-col items-center bg-slate-50 rounded">
        <h1 class="mb-6 text-3xl font-bold text-gray-900">Nuevo Usuario</h1>
        <form class="w-full" action="#" th:action="@{/registrarme}" th:object="${usuario}" method="POST">
            <div class="w-80 mx-auto mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                <input th:field="*{email}" id="email" type="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       autocomplete="off" required/>
            </div>
            <div class="w-80 mx-auto mb-6">
                <label for="password"
                       class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                <input th:field="*{password}" type="password" id="password"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       autocomplete="off" required/>
            </div>
            <div class="w-80 mx-auto mb-6">
                <ul class="grid w-full gap-6">
                    <li>
                        <input type="radio" id="cliente" name="rol" value="Cliente" class="hidden peer">
                        <label for="cliente"
                               class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                            <div class="block">
                                <div class="w-full text-lg font-semibold">Soy cliente</div>
                                <div class="w-full">Vas a alquilar la bicicleta de otro</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="propietario" name="rol" value="Propietario" class="hidden peer">
                        <label for="propietario"
                               class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                            <div class="block">
                                <div class="w-full text-lg font-semibold">Soy propietario</div>
                                <div class="w-full">Vas a poner tus bicicletas en alquiler</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <div th:if="${error != null}"
                 class="w-80 mx-auto p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                 role="alert">
                <span th:text="${error}" class="font-medium"></span>
            </div>
            <div class="text-center">
                <button type="submit"
                        class="w-72 sm:w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm my-2 mb-2 px-5 py-2.5 text-center">
                    Crear cuenta
                </button>
            </div>
        </form>
        <a href="login"
           class="w-72 sm:w-80 mt-2 py-2.5 px-5 text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
            Iniciar sesión
        </a>
    </div>
</main>
</body>
</html>